@import "tailwindcss";
 @import url('https://fonts.cdnfonts.com/css/poppins');

 *{
  box-sizing: border-box;
 }
 
#root {
  max-width: 1440px;
  height:100vh;
  min-height:100vh;
  font-family: 'poppins';
  margin: 0 auto;
}
